h3 {
    text-align: right;
}

.links {
    text-decoration: none !important;
}

.texto1 {
    text-align-last: right;
}

.btn {
    margin-left: 20px;
}

.ba {
    color: white;
    text-align: start;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

p {
    text-size-adjust: 12px;
}

.cont-form {
    text-align: center;
}